@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #1a1a1a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #eeeeee;
    --foreground: #1f1f1f;
  }
}
/* text color depends on  color: var*/
body {
  color: var(--foreground); 
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
